.darker{
	color:rgb(0,0,0);
}

.semiDark{
	color:rgb(103,103,103);
}

.popColorBg{
	background-color:rgb(237,231,52)
}

.footerColorBg{
	background-color:rgb(54,55,56)
}
.footerColor{
	color:rgb(153,157,155)
}
.smokeWhiteBg{
	background-color:whitesmoke;
}
.whiteBg{
	background-color:white;
}