.darker{
	color:rgb(0,0,0);
}

.lightDark{
	color:rgb(103,103,103);
}

.popColor{
	background-color:rgb(237,231,52)
}

.footerColor{
	background-color:rgb(54,55,56)
}
.footerText{
	color:rgb(153,157,155)
}